.md-button.md-fab.bb-action-mini{
  width: 24px;
  height: 24px;
  min-height: 24px;
}

.bb-home-toolbar{
  display: block;
  background-color: inherit !important;
  border-bottom: solid 0.01em black;

  .md-button.md-fab{
    line-height: 20px;
    margin: 1px 1px;
    background-color: @primaryColor;
  }

}
