.float-right{
	float: right;
}

.float-left{
	float: left;
}

.bold {
    font-weight: bold;
}

a {
    color: @linkColor;
    text-decoration: none;
}

.labels {
	font-size: @xxSmallFontSize;
	padding: 3px;
	line-height: @xxSmallFontSize;
	margin-left: 3px;
}

.labels.md-button.md-default-theme {
  	border-radius: 0px;
}

.labels.md-button.md-raised:not([disabled]) {
  	box-shadow: 0 1px 4px 0 rgba(0,0,0,.26);
}

.container{
	padding: 10px 0;
}

.footer-room{
	padding-bottom: 50px;
}

.pad-sides-sm{
	padding: 0 5px;
}

.pad-bottom-sm{
	padding-bottom: 5px;
}

.pad-top-sm{
	padding-top: 5px;
}

.pad-left-sm{
	padding-left: 5px;
}

.pad-left-md{
	padding-left: 10px;
}

.position-relative{
	position: relative;
}

.label-tag{
	position: absolute; 
    bottom: 0; 
}

.meaning-container{
	padding: 5px;
	background-color: lightgray;

	ul {
	    background-color: white;
	}

	ul:not(:first-child) {
		margin-top: 5px;
	}
}