.float-right {
  float: right;
}
.float-left {
  float: left;
}
.bold {
  font-weight: bold;
}
a {
  color: #047293;
  text-decoration: none;
}
.pane {
  height: -moz-calc(100%) !important;
  height: -webkit-calc(100%) !important;
  height: calc(100%) !important;
}
.has-footer {
  padding-bottom: 110px !important;
}
.labels {
  font-size: 0.55em;
  padding: 3px;
  line-height: 0.55em;
  margin-left: 3px;
}
.labels.md-button.md-default-theme {
  border-radius: 0;
}
.labels.md-button.md-raised:not([disabled]) {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
}
.container {
  padding: 10px 0;
}
.pad-sides-sm {
  padding: 0 5px;
}
.pad-bottom-sm {
  padding-bottom: 5px;
}
.pad-top-sm {
  padding-top: 5px;
}
.pad-left-sm {
  padding-left: 5px;
}
.pad-left-md {
  padding-left: 10px;
}
.position-relative {
  position: relative;
}
.col-offset-5 {
  margin-left: 5%;
}
.label-tag {
  position: absolute;
  bottom: 0;
}
.input-xt-large {
  font-size: 48px;
}
.input-large {
  font-size: 30px;
}
.md-button.md-fab.bb-action-mini {
  width: 24px;
  height: 24px;
  min-height: 24px;
}
.bb-home-toolbar {
  background-color: inherit !important;
  border-bottom: solid 0.01em black;
  padding: 2px;
  height: 120px;
  position: absolute;
}
.bb-home-toolbar .md-button.md-fab {
  line-height: 20px;
  margin: 1px 1px;
  background-color: inherit;
  color: gray;
  box-shadow: 0px 0px 0px 0.01em #000000;
  margin: 0 2px;
}
.bb-home-toolbar .md-button.md-fab.bb-action-mini.selected {
  background-color: gray;
  color: white;
  box-shadow: 0px 0px 0px 0.01em #000000;
}
.bb-home-toolbar > div {
  margin-bottom: 10px;
}
.bb-home-toolbar label {
  width: 33%;
  float: left;
}
.list-item-actions {
  margin-top: 5px;
}
.list-item-actions div {
  margin-right: 10px;
}
.list-item-actions .material-icons {
  font-size: 18px;
}
.home-footer .md-icon-button.create-family {
  padding: 0;
  margin-top: -4px;
}
.home-footer .md-icon-button.create-family i {
  font-size: 40px;
}
html,
body,
div,
span,
object,
iframe,
h1,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Source Sans Pro', sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul {
  list-style: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
input,
select {
  vertical-align: middle;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: 'roboto';
  font-weight: normal;
}
.labels,
h2 {
  text-transform: capitalize;
}
md-card.component-wrapper {
  margin: 0;
  box-shadow: none;
  padding: 10px;
}
section {
  padding-bottom: 5px;
}
md-content.header-bar {
  display: block;
  z-index: 9;
  overflow: hidden;
}
md-content.header-bar md-input-container {
  margin: 0;
  height: 40px;
  font-size: 18px;
  padding-left: 5px;
}
md-content.header-bar md-input-container input {
  height: inherit;
  font-size: inherit;
}
md-content.header-bar md-input-container label {
  padding-left: inherit !important;
  bottom: 75%;
}
md-content.header-bar md-input-container.md-input-focused label:not(.md-no-float),
md-content.header-bar md-input-container.md-input-has-placeholder label:not(.md-no-float),
md-content.header-bar md-input-container.md-input-has-value label:not(.md-no-float) {
  display: none !important;
}
md-content.header-bar .layout-row {
  width: 100%;
  height: 56px;
}
md-card md-card-content {
  padding: 0 !important;
}
md-list-item.md-3-line div.md-button:first-child::before,
md-list-item.md-3-line > ._md-no-style div.md-button:first-child::before {
  min-height: inherit !important;
}
.home-content-wrapper {
  margin-top: 120px;
  height: 100%;
  position: relative;
}
.home-content-wrapper md-list {
  height: 83%;
}
.md-autocomplete-suggestions md-list-item.md-3-line {
  min-height: 60px !important;
}
.md-autocomplete-suggestions li {
  height: 100% !important;
}
.family-component-wrapper .md-subheader ._md-subheader-inner {
  padding: 5px;
}
md-list {
  overflow: auto;
}
.pane {
  position: relative;
  overflow: inherit;
  height: auto;
}
[nav-view="stage"] {
  opacity: inherit;
}
form {
  width: 100%;
}
md-list-item {
  box-shadow: -2px 8px 26px -26px #000000;
}
.search-wrapper md-list-item {
  min-height: 60px;
}
.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  width: 100%;
  left: 4px !important;
}
.family-component-wrapper .family-name {
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.family-component-wrapper .family-name md-input-container label {
  margin-bottom: -20px;
}
.family-component-wrapper .family-name input {
  height: inherit;
}
.family-component-wrapper ion-footer-bar .md-button {
  margin: 0;
}
.slider-component {
  height: 100%;
}
.slider-component .slider {
  height: 100%;
}
.slider-component .slider .slider-slides {
  height: 100%;
}
.slider-component .slider .slider-slides md-list {
  width: 100%;
  height: 83%;
  position: absolute;
}
