<div flex layout="row">
    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="">
        <md-content class="md-padding">
            <div flex-sm="100" flex-gt-sm="80" layout-sm="column">
                <h2>Add Name</h2>
                <form name="contactForm" ng-submit="addNameCtrl.addName()">
                    <md-input-container>
                        <label>Enter name here:</label>
                        <input ng-model="addNameCtrl.name.nameInfo" required>
                    </md-input-container>
                    <md-input-container>
                        <label>Enter meaning here:</label>
                        <textarea ng-model="addNameCtrl.name.meaningInfo" columns="1" rows="3" md-maxlength="90" required></textarea></multi-line>
                    </md-input-container>
                    <md-input-container>
                        <label>Enter labels here:</label>
                        <input ng-model="addNameCtrl.name.labelText" required>
                    </md-input-container>

                    <md-button type="submit" class="md-raised md-primary">Add Name</md-button>
                </form>
            </div>
        </md-content>
    </div>
</div>