<div>
<md-content class="header-bar md-default-theme">
    <div layout="row" layout-align="start center">
    	<div layout="row" layout-align="start center" ng-if="!header.searchActivated">
        <md-button flex="10" class=""
                   ui-sref="app.home" ui-sref-opts="{reload: true}">
          Babie
        </md-button>
        <span flex></span>
	    	<md-button flex="10" class="md-icon-button" aria-label="search"  ng-click="header.toggleSearch()">
	          <i class="material-icons">search</i>
        </md-button>
    	</div>
    	<div layout="row" layout-align="end center" flex ng-if="header.searchActivated" class="search-wrapper">
	        <form ng-submit="$event.preventDefault()" name="searchForm">
            <div layout-gt-sm="row">
              <md-autocomplete flex required
                  md-items="item in header.querySearch(header.searchText)"
                  md-input-name="searchInput"
                  md-input-minlength="2"
                  md-selected-item="header.selectedItem"
                  md-search-text="header.searchText"
                  md-item-text="item.nameInfo"
                  md-floating-label="Search here..">
                <md-item-template>
                  <md-list-item class="md-3-line">
                    <div class="md-list-item-text" layout="column" layout-align="center start">
                      <h3>{{ item.nameInfo }}</h3>
                      <p>{{ item.meaning[0].meaningInfo }}</p>
                    </div>
                  </md-list-item>
                </md-item-template>
              </md-autocomplete>
		        </div>
		      </form>
          <md-button class="md-icon-button" aria-label="search" ng-click="header.toggleSearch()">
	            <i class="material-icons">close</i>
          </md-button>
      	</div>
    </div>
</md-content>
</div>

<!-- all the views will be loaded here -->
<ion-nav-view class=""></ion-nav-view>

<ion-footer-bar align-title="left" layout="row" class="bar bar-footer home-footer">
  <md-button flex class="md-icon-button" aria-label="search">
    <i class="material-icons">group</i>
  </md-button>
  <md-button flex class="md-icon-button create-family" aria-label="search"
             ui-sref="familyAdd"
             ui-sref-opts="{reload: true}">
    <i class="material-icons">add_box</i>
  </md-button>
  <md-button flex class="md-icon-button" aria-label="user" ui-sref="app.userDetails" ui-sref-opts="{reload: true}">
    <i class="material-icons">account_box</i>
  </md-button>
</ion-footer-bar>

