<md-card flex class="component-wrapper">
  <md-toolbar class="bb-home-toolbar">
    <md-button class="md-fab bb-action-mini" aria-label="alphabets"
               ng-click="home.getNamesByAlphabet(alphabet)"
               ng-class="{ selected: home.selectedAlphabet == alphabet }"
               ng-repeat="alphabet in home.alphabetArray">
      {{ alphabet }}
    </md-button>
  </md-toolbar>

  <md-card-content layout="column" class="virtualRepeatdemoVerticalUsage home-content-wrapper">
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="name in home.alphabeticNames[0]" ng-click="null">
        <div class="md-list-item-text" layout="column" layout-align="center start">
          <h3>{{ name.nameInfo }}</h3>
          <p>{{ name.meaning[0].meaningInfo }}</p>
          <div class="list-item-actions" layout="row" layout-align="start center">
            <div layout="row" layout-align="start center">
              <i class="material-icons">favorite</i>
              <label>123</label>
            </div>
            <div layout="row" layout-align="start center">
              <i class="material-icons">group_add</i>
            </div>
          </div>
        </div>
      </md-list-item>

      <div ng-if="home.alphabeticNames[0].length == 0" layout="column" layout-align="center center"  class="empty-message">
        <span><i class="material-icons">mood_bad</i></span>
        <h5>Sorry! No suggestions yet.</h5>
        <label class="">Please check back after some days.</label>
      </div>

    </md-list>
  </md-card-content>
</md-card>
