<div>
  <md-card flex>
    <md-toolbar class="md-hue-2">
      <md-button class="md-fab bb-action-mini" aria-label="Eat cake">
        <md-icon md-svg-src="img/icons/cake.svg"></md-icon>
      </md-button>
    </md-toolbar>
    <md-card-content layout="column" class="virtualRepeatdemoVerticalUsage">
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="name in home.alphabeticNames[0]" ng-click="null">
          <div class="md-list-item-text" layout="column">
            <h3>{{ name.nameInfo }}</h3>
            <p>{{ name.meaning[0].meaningInfo }}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>

