<div>
<md-content class="header-bar md-default-theme">
    <md-toolbar class="md-default-theme">
        <div layout="row" class="colorNested">
            <div flex>
                <h2 class="md-toolbar-tools">
                    <span>Babie</span>
                </h2>
            </div>
            <div flex>
                <md-button type="submit" class="md-raised md-primary" ng-click="headerCtrl.goToAddName()">Add Name</md-button>
            </div>
        </div>
    </md-toolbar>
</md-content>
</div>

<!-- all the views will be loaded here -->
<ion-nav-view class="testClass"></ion-nav-view>


<!-- this is the footer of the application
 for now it will be used for:
 - meaning input box on nameDetails screen -->
 <ion-footer-bar class="bar-balanced" ng-if="headerCtrl.stateIs === 'app.nameDetails'">
<!--<ion-footer-bar class="bar-balanced">-->
	<form name="contactForm" ng-submit="headerCtrl.addMeaning()">
		<input ng-model="headerCtrl.meaning.meaningInfo" class="meaning-input col-80" placeholder="Enter new meaning here..." required>
		<md-button type="submit" class="md-raised md-primary col-offset-5">Add</md-button>
	</form>
</ion-footer-bar>