<md-card>
<div layout="row" layout-margin layout-fill>
	<div flex="50">
		<a ng-href="#/app/nameDetails/{{nameCarousal.name.nameId}}"><h3>{{nameCarousal.name.nameInfo}}</h3></a>
	</div>
	<div flex>
        <md-button class="labels md-raised" ng-repeat="label in nameCarousal.name.labels">{{label.labelInfo}}</md-button>
	</div>
</div>
<div layout="row" layout-margin layout-fill>
	<div class="ellipsis" flex><p>{{nameCarousal.name.meaning.meaningInfo}}</p></div>
</div>
<section layout="row">
        <md-button class="labels md-raised"><i class="md-thumb-up md-lg"></i>| {{ nameCarousal.getRealValue(nameCarousal.name.upVotes) }}</md-button>
        <md-button class="labels md-raised"><i class="md-visibility md-lg"></i>| {{ nameCarousal.getRealValue(nameCarousal.name.viewCount) }}</md-button>
        <md-button class="labels md-raised"><i class="md-done md-lg"></i>| {{ nameCarousal.getRealValue(nameCarousal.name.assignedByCount) }}</md-button>
</section>
</md-card>