<md-card>
<div layout="row" layout-margin layout-fill>
	<div flex="50">
		<h2>Abhay</h2>
	</div>
	<div flex>
        <md-button class="labels md-raised">lel1</md-button>
        <md-button class="labels md-raised">label1</md-button>
        <md-button class="labels md-raised">labsfdsfel1</md-button>
        <md-button class="labels md-raised">label1</md-button>
        <md-button class="labels md-raised">labsfdel1</md-button>
        <md-button class="labels md-raised">label1</md-button>
	</div>
</div>
<div layout="row" layout-margin layout-fill>
	<div flex="75">A person without any fears</div>
	<div flex>
		<md-button ng-href="{{googleUrl}}" target="_blank">...more</md-button>
	</div>
</div>
<section layout="row">
        <md-button ng-href="{{googleUrl}}" target="_blank">add</md-button>
        <md-button class="md-primary" ng-href="{{googleUrl}}" target="_blank">upvote</md-button>
        <md-button>assign</md-button>
</section>
</md-card>